<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assessoria Contabil / Assessoria Empresarial</title>
</head>
<body>
    <header id="header">
    <div class="header display-box">
        <figure class="header logo">
            <img src="../assets/logo-do-site.webp" alt="Real Assessoria Empresarial">
        </figure>
        <div class="header menu">
            <ul>
                <div class="menu-container">  
                    <ul class="menu clearfix">
                        <li><a href="#">Nossos Serviços</a></li>
                    <li><a href="#">Ára do Cliente</a>
                        <ul class="sub-menu clearfix">
                        <li><a href="#">Portal do Cliente ONVIO</a></li>
                        <li><a href="#">Domínio AT (Consultas)</a></li>
                        <li><a href="#">Links</a></li>
                        <li><a href="#">Arquivos</a></li>
                    </li>
                        </ul>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">E-mail Colaboradores</a></li>
            </ul>
            <button class="header button">Portal do Cliente</button>
        </div>
    </div>
    </header>
    <main id="primary-container">
        <figure>
            <img class="primary-container bg-img" src="../assets/bg-container.webp" alt="Background Img">
        </figure>
        <section class="primary-container info">
            <div class="primary-container bg-box">
                <figure>
                    <img src="../assets/primary-content-logo.webp" alt="">
                </figure>
                <h2 class="primary-container text">Nosso propósito é:<br>Ajudar a mudar a REALidade.</h2>
            </div>
        </section>
    </main>
</body>
</html>